<div class="flex-container">
  <div class="left"> <app-coin-news-selected [symbol]="symbol"></app-coin-news-selected></div>
  <div class="right">
      <div *ngIf="chartReady" align="center" class="chart">
        <google-chart #chart
          [title]="title"
          [type]="type"
          [data]="chartData"
          [columnNames]="columnNames"
          [options]="options"
          [width]="width"
          [height]="height"
          [dynamicResize]="dynamicResize">
      </google-chart>
      <mat-button-toggle-group #group="matButtonToggleGroup">    
        <mat-button-toggle value="live" (change)="showLivePrices()"> Live </mat-button-toggle>
        <mat-button-toggle value="daily" (change) = "showDailyPrices()"> Daily </mat-button-toggle>
        <mat-button-toggle value="weekly" (change) = "showWeeklyPrices()">Weekly</mat-button-toggle>
        <mat-button-toggle value="monthly" (change) = "showMonthlyPrices()">Monthly</mat-button-toggle>
        <mat-button-toggle value="yearly" (change) = "showYearlyPrices()">Yearly</mat-button-toggle>
      </mat-button-toggle-group>
    </div> 
  </div>
</div>
