<div class="flex-container">
  <div class="left"> <app-coin-news-selected [symbol]="symbol"></app-coin-news-selected></div>
  <div class="right">
      <div *ngIf="chartData right" align="center">
        <google-chart #chart
          [title]="title"
          [type]="type"
          [data]="chartData"
          [columnNames]="columnNames"
          [options]="options"
          [width]="width"
          [height]="height">
      </google-chart>
      <button (click) = "getLivePrices()">Live</button>
      <button (click) = "getDailyPrices()">Daily</button>
    </div> 
  </div>
</div>
