
html body {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
}
.flex-container {
  display: flex;
  padding: 0px;
  margin: 0px;
}
.left {
  flex: 60%;
  background-color: #f1f1f1;
  padding: 20px;
}
.right {
  flex: 40%;
  background-color: #f1f1f1;
}

.chart {
  /* background-color: yellow; */
  /* bottom: 20px; */
  /* position: absolute; */
  /* top: 40px; */
  width: 100%;
}