<div class="flex-container">
  <div class="left"> <app-coin-news-selected [symbol]="symbol"></app-coin-news-selected></div>
  <div class="right">
      <div *ngIf="chartData" align="center">
        <google-chart #chart
          [title]="title"
          [type]="type"
          [data]="chartData"
          [columnNames]="columnNames"
          [options]="options"
          [width]="width"
          [height]="height">
      </google-chart>
      
      <button mat-flat-button (click) = "showLivePrices()"> Live </button>
      <a mat-stroked-button (click) = "showDailyPrices()" routerLink="."> Daily </a>
      <a mat-flat-button (click) = "showWeeklyPrices()" routerLink=".">Weekly</a>
      <a mat-button (click) = "showMonthlyPrices()" routerLink=".">Monthly</a>
      <a mat-stroked-button (click) = "showYearlyPrices()" routerLink=".">Yearly</a>
    </div> 
  </div>
</div>
