.title {
    color:white;
    background-color: #03a67b !important;
    font-size: 40px;
    font-style: bolder;
  }
  .subtitle {
    min-height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
    font-size: 13pt;
}
