
html body {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
}
#prices{
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  /* border: #2B3441 solid */
  }
#prices th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #f1f1f1;/*#03a67b;;*/
  color:  black;
}
.flex-container {
  display: flex;
  padding: 0px;
  margin: 0px;
}
.left {
  flex: 55%;
  background-color: #f1f1f1;
  padding: 20px;
}
.right {
  flex: 45%;
  background-color: #f1f1f1;
}