
html body {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
}
  table{
    width: 75%;
    background-color: #2B3441 !important;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;

  }
 

.gridBlack {
  background-color: #2B3441 !important;
  color: rgba(255, 255, 255, 0.8);
}